blinker==1.9.0
click==8.2.1
colorama==0.4.6
contourpy==1.3.3
cycler==0.12.1
dill==0.4.0
eqsn==0.0.8
flask==3.1.1
fonttools==4.59.0
itsdangerous==2.2.0
jinja2==3.1.6
kiwisolver==1.4.9
markupsafe==3.0.2
matplotlib==3.10.5
networkx==3.5
numpy==2.3.2
packaging==25.0
pathvalidate==3.3.1
pbr==7.0.0
pillow==11.3.0
psutil==7.0.0
pyparsing==3.2.3
python-dateutil==2.9.0.post0
qiskit==2.1.1
qiskit-aer==0.17.1
qunetsim==0.1.3.post1
rustworkx==0.17.1
scipy==1.16.1
setuptools==80.9.0
six==1.17.0
stevedore==5.4.1
typing-extensions==4.14.1
werkzeug==3.1.3
